[SupersonicTheme]
Name          = "Stylix"
Version       = "0.2"
SupportsDark  = true
SupportsLight = false

[DarkColors]
ListHeader        = "{{base01}}"
PageBackground    = "{{base00}}"
PageHeader        = "{{base01}}"
Background        = "{{base00}}"
Button            = "{{base02}}"
DisabledButton    = "{{base03}}"
Disabled          = "{{base05}}"
Error             = "{{base08}}"
Focus             = "{{base0C}}"
Foreground        = "{{base05}}"
Hyperlink         = "{{base05}}"
InputBackground   = "{{base00}}"
InputBorder       = "{{base0D}}"
MenuBackground    = "{{base01}}"
OverlayBackground = "{{base02}}"
Placeholder       = "{{base03}}"
Pressed           = "{{base0D}}"
Primary           = "{{base0D}}"
ScrollBar         = "{{base01}}"
Selection         = "{{base03}}AA"
Separator         = "{{base0D}}"
Warning           = "{{base09}}"
