layout {
    focus-ring {
        active-color   "{{base0D}}"
        inactive-color "{{base01}}"
        urgent-color   "{{base08}}"
    }

    border {
        active-color   "{{base0D}}"
        inactive-color "{{base01}}"
        urgent-color   "{{base08}}"
    }

    shadow {
        color "{{base00}}70"
    }

    tab-indicator {
        active-color   "{{base0D}}"
        inactive-color "{{base01}}"
        urgent-color   "{{base08}}"
    }

    insert-hint {
        color "{{base0C}}80"
    }
}

recent-windows {
    highlight {
        active-color   "{{base0D}}"
        urgent-color   "{{base08}}"
    }
}

overview {
    backdrop-color "{{base00}}"
}
